Final_Project_with_ Flow/final project.json
[{"id":"11b182b8.e80acd","type":"tab","label":"Customer Care Helpdesk","disabled":false,"info":""},{"id":"ef833f2a.47fbc","type":"ui_form","z":"11b182b8.e80acd","name":"","label":"","group":"43177b96.68f8d4","order":1,"width":0,"height":0,"options":[{"label":"Enter Your Doubts","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":260,"wires":[["99302f4.0c955d"]]},{"id":"99302f4.0c955d","type":"function","z":"11b182b8.e80acd","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["2a47b2b2.839b2e","2c9b9387.3d1edc"]]},{"id":"7b027860.8833a8","type":"function","z":"11b182b8.e80acd","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":180,"wires":[["b604915c.053e1"]]},{"id":"2a47b2b2.839b2e","type":"watson-conversation-v1","z":"11b182b8.e80acd","name":"Customer Care","workspaceid":"d60d94fc-591c-422e-b5e1-6090098a76e7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":400,"y":120,"wires":[["7b027860.8833a8","bdc1c22c.4db29"]]},{"id":"2c9b9387.3d1edc","type":"ui_text","z":"11b182b8.e80acd","group":"43177b96.68f8d4","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":370,"y":320,"wires":[]},{"id":"bdc1c22c.4db29","type":"debug","z":"11b182b8.e80acd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":60,"wires":[]},{"id":"b604915c.053e1","type":"ui_text","z":"11b182b8.e80acd","group":"43177b96.68f8d4","order":3,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":680,"y":320,"wires":[]},{"id":"43177b96.68f8d4","type":"ui_group","z":"","name":"Chatbot","tab":"e4e6162b.432e28","order":1,"disp":true,"width":16,"collapse":false},{"id":"e4e6162b.432e28","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]