flow-with-api use.json
[{"id":"40da8f1.68ef87","type":"tab","label":"Flow with API","disabled":false,"info":""},{"id":"631789cb.567658","type":"http in","z":"40da8f1.68ef87","name":"HTTP flow With API","url":"sw","method":"get","upload":true,"swaggerDoc":"","x":200,"y":240,"wires":[["5c87a4a3.433e7c"]]},{"id":"6edfc885.ae0228","type":"http response","z":"40da8f1.68ef87","name":"","statusCode":"","headers":{},"x":490,"y":240,"wires":[]},{"id":"5c87a4a3.433e7c","type":"template","z":"40da8f1.68ef87","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Hello World</title>\n    </head>\n    <body>\n        <div>Hello to Watson on Node-RED</div>\n        <div id=\"id_hello\"><span>I think you are typing text in:</span>\n        &nbsp;\n        <span id=\"id_textlang\"></span></div>\n        <form id=\"id_form\">\n            <div>\n                <span>\n                    Enter your text to be processed:  \n                </span>\n                <span>\n                    <input type=\"text\" name=\"name\" id=\"id_text\"/>\n                </span>\n            </div>\n            <div>\n                <input type=\"submit\" value=\"Enter\" id=\"id_enter\"/>\n            </div>\n        </form>        \n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n        </script>\n        <script type=\"text/javascript\">\n            $(document).ready(function(){\n                setupPage();\n            });\n              var LANGUAGES = { 'ar' : 'Arabic',\n                    'en': 'English' ,\n                    'es': 'Spanish',\n                    'fr': 'French',\n                    'it': 'Italian',\n                    'de': 'German',\n                    'pt': 'Portuguese',\n                    'ko': 'Korean',\n                    'zh': 'Chinese'\n                  };\n            function setupPage(){\n                $('#id_hello').hide();\n                $('#id_form').submit(onSubmitClicked);\n                enterbutton();\n            }\n           \n            function langLookup(isocode) {\n                return (LANGUAGES[isocode] ? LANGUAGES[isocode] : isocode);\n            }\n         function processOK(response) {\n                console.log(response);\n                if (response.identifyresponse){\n                    $('#id_textlang').text(langLookup(response.identifyresponse));\n                } else {\n                    $('#id_textlang').text('No response received from service');\n                }\n            }\n            function processNotOK() {\n                console.log('Error Processing');\n                $('#id_textlang').text('Oops something went wrong');\n            }           \n            function invokeAjax(message) {\n                console.log('AJAX about to be invoked.');\n                console.log(message);\n                var ajaxData = {};\n                ajaxData.msgdata = message;\n                $.ajax({\n                    type: 'POST',\n                    url: 'langidentify',\n                    data: ajaxData,\n                    success: processOK,\n                    error: processNotOK\n                });\n            }\n \n            function onSubmitClicked(event){\n                $('#id_hello').show();\n                event.preventDefault();\n                var txt = $('#id_text').val();\n                invokeAjax(txt);\n            }\n            function enterbutton(){\n                $(function() {\n                    $(\"form input\").keypress(function (e) {\n                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                        $('#id_enter').click();\n                        return false;\n                    } else {\n                        return true;\n                    }\n                });\n            });\n        }\n        </script>       \n    </body>\n</html>","output":"str","x":360,"y":180,"wires":[["6edfc885.ae0228"]]},{"id":"e2187cb9.e038f","type":"function","z":"40da8f1.68ef87","name":"Process Output","func":"msg.payload = {};\nmsg.payload.identifyresponse = \"I don't know\";\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":340,"wires":[["8b0ee428.f9e528"]]},{"id":"7d54ad26.05c7d4","type":"http in","z":"40da8f1.68ef87","name":"REST lang identify","url":"/langidentify","method":"post","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["e2187cb9.e038f"]]},{"id":"8b0ee428.f9e528","type":"http response","z":"40da8f1.68ef87","name":"","statusCode":"","headers":{},"x":490,"y":400,"wires":[]}]