language identifier.json
[{"id":"9950c2f0.d07c9","type":"tab","label":"flow-watson-api","disabled":false,"info":""},{"id":"d1ce8576.4ad8a8","type":"http in","z":"9950c2f0.d07c9","name":"HTTP flow-watson- API","url":"/tw","method":"get","upload":true,"swaggerDoc":"","x":240,"y":220,"wires":[["74a8319.df42ed"]]},{"id":"5af7055d.6a444c","type":"http response","z":"9950c2f0.d07c9","name":"","statusCode":"","headers":{},"x":540,"y":220,"wires":[]},{"id":"74a8319.df42ed","type":"template","z":"9950c2f0.d07c9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Hello World</title>\n    </head>\n    <body>\n        <div>Hello to Watson on Node-RED</div>\n        <div id=\"id_hello\"><span>I think you are typing text in:</span>\n        &nbsp;\n        <span id=\"id_textlang\"></span></div>\n        <form id=\"id_form\">\n            <div>\n                <span>\n                    Enter your text to be processed:  \n                </span>\n                <span>\n                    <input type=\"text\" name=\"name\" id=\"id_text\"/>\n                </span>\n            </div>\n            <div>\n                <input type=\"submit\" value=\"Enter\" id=\"id_enter\"/>\n            </div>\n        </form>        \n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js\">\n        </script>\n        <script type=\"text/javascript\">\n            $(document).ready(function(){\n                setupPage();\n            });\n              var LANGUAGES = { 'ar' : 'Arabic',\n                    'en': 'English' ,\n                    'es': 'Spanish',\n                    'fr': 'French',\n                    'it': 'Italian',\n                    'de': 'German',\n                    'pt': 'Portuguese',\n                    'ko': 'Korean',\n                    'zh': 'Chinese'\n                  };\n            function setupPage(){\n                $('#id_hello').hide();\n                $('#id_form').submit(onSubmitClicked);\n                enterbutton();\n            }\n           \n            function langLookup(isocode) {\n                return (LANGUAGES[isocode] ? LANGUAGES[isocode] : isocode);\n            }\n         function processOK(response) {\n                console.log(response);\n                if (response.identifyresponse){\n                    $('#id_textlang').text(langLookup(response.identifyresponse));\n                } else {\n                    $('#id_textlang').text('No response received from service');\n                }\n            }\n            function processNotOK() {\n                console.log('Error Processing');\n                $('#id_textlang').text('Oops something went wrong');\n            }           \n            function invokeAjax(message) {\n                console.log('AJAX about to be invoked.');\n                console.log(message);\n                var ajaxData = {};\n                ajaxData.msgdata = message;\n                $.ajax({\n                    type: 'POST',\n                    url: 'langidentify',\n                    data: ajaxData,\n                    success: processOK,\n                    error: processNotOK\n                });\n            }\n \n            function onSubmitClicked(event){\n                $('#id_hello').show();\n                event.preventDefault();\n                var txt = $('#id_text').val();\n                invokeAjax(txt);\n            }\n            function enterbutton(){\n                $(function() {\n                    $(\"form input\").keypress(function (e) {\n                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                        $('#id_enter').click();\n                        return false;\n                    } else {\n                        return true;\n                    }\n                });\n            });\n        }\n        </script>       \n    </body>\n</html>","output":"str","x":410,"y":160,"wires":[["5af7055d.6a444c"]]},{"id":"cfda8524.fe80e8","type":"function","z":"9950c2f0.d07c9","name":"Process Output","func":"msg.payload = {};\nmsg.payload.identifyresponse = \"I don’t know\";\nif (msg.lang && msg.lang.language)\n    {\n      msg.payload.identifyresponse = msg.lang.language;\n\t}\nreturn msg; ","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["646c16da.00d358"]]},{"id":"c704081f.61d0a8","type":"http in","z":"9950c2f0.d07c9","name":"REST lang identify","url":"/langidentify","method":"post","upload":false,"swaggerDoc":"","x":150,"y":440,"wires":[["f410d8c5.e80838"]]},{"id":"646c16da.00d358","type":"http response","z":"9950c2f0.d07c9","name":"","statusCode":"","headers":{},"x":670,"y":440,"wires":[]},{"id":"f410d8c5.e80838","type":"function","z":"9950c2f0.d07c9","name":"Extract Input","func":"msg.payload = msg.req.body.msgdata;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["fe5abb51.aec058"]]},{"id":"fe5abb51.aec058","type":"watson-language-translator-identify","z":"9950c2f0.d07c9","name":"","service-endpoint":"","x":410,"y":440,"wires":[["cfda8524.fe80e8"]]}]