node-red-first-work.json
[{"id":"63476368.77a3fc","type":"tab","label":"First-Red","disabled":false,"info":""},{"id":"ba304345.9276c","type":"http in","z":"63476368.77a3fc","name":"First Red","url":"/hw","method":"get","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["69bde55.57f9e1c"]]},{"id":"9684c190.25d36","type":"http response","z":"63476368.77a3fc","name":"","statusCode":"","headers":{},"x":610,"y":160,"wires":[]},{"id":"69bde55.57f9e1c","type":"template","z":"63476368.77a3fc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <meta charset=\"UTF-8\">\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0\"/>\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" ></script>\n        <title>Catchy String Generator</title>\n\t\t\n\t\t<script type='text/javascript'>\n\t\t$(document).ready(function(){\n                setupPage();\n            });\n            function setupPage(){\n                $('#id_hello').hide();\n                $('#id_form').submit(onSubmitClicked);\n                enterbutton();\n            }\n            function onSubmitClicked(event){\n                $('#id_nameout').text($('#id_name').val());\n                $('#id_hello').show();\n                $('#id_form').hide();\n                event.preventDefault();\n            }\n            function enterbutton(){\n                $(function() {\n                    $(\"form input\").keypress(function (e) {\n                    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                        $('#id_enter').click();\n                        return false;\n                    } else {\n                        return true;\n                    }\n                });\n            });\n        }\n\t\t\tfunction magik(){\n\t\t\t\tvar first = document.getElementById(\"first\").value;\n\t\t\t\tvar second = document.getElementById(\"second\").value;\n\t\t\t\tvar num = parseInt(document.getElementById(\"num\").value);\n\t\t\t\tvar firsthalf;\n\t\t\t\tvar secondhalf;\n\t\t\t\tif(num%2 == 0){\n\t\t\t\t\tfirsthalf = first.toString().substring(0, num/2);\n\t\t\t\t\tsecondhalf = second.toString().substring(0, num/2);\n\t\t\t\t} \n                else{\n\t\t\t\t\tnum = num - 1;\n\t\t\t\t\tfirsthalf = first.toString().substring(0, num/2);\n\t\t\t\t\tnum = num + 2;\n\t\t\t\t\tsecondhalf = second.toString().substring(0, num/2);\n\t\t\t\t}\n\t\t\t\tvar result = firsthalf.concat(secondhalf);\n\t\t\t\tdocument.getElementById(\"result\").innerHTML = result;\n\t\t\t}\n\t\t</script>\n    </head>\n    <header>\n    <center><h1>Something Funny Here</h1></center>\n    </header>\n    <body>\n        <div>Hello Guys to Node-RED</div>\n        <div id=\"id_hello\">\n           <span>Hello</span>\n           &nbsp;\n           <span id=\"id_nameout\"></span>\n       </div>\n        <form id=\"id_form\">\n            <div>\n                <span>\n                    What is your name:  \n                </span>\n                <span>\n                    <input type=\"text\" name=\"name\"        \n                                     id=\"id_name\"/>\n                </span>\n            </div>\n            <div>\n                <input type=\"submit\" value=\"Enter\"\n                                      id=\"id_enter\"/>\n            </div>\n        </form> \n        <div class=\"container\">\n      <div class=\"input-group input-group-lg\">\n        <span class=\"input-group-addon\" id=\"sizing-addon1\">String 1</span>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Enter String 1...\" aria-describedby=\"sizing-addon1\" id=\"first\" >\n      </div>\n      <div class=\"divider\" style=\"width: 0px; height: 80px;\">\n      </div>\n      <div class=\"input-group input-group-lg\">\n        <span class=\"input-group-addon\" id=\"sizing-addon1\">String 2</span>\n        <input type=\"text\" class=\"form-control\" placeholder=\"Enter String 2...\" aria-describedby=\"sizing-addon1\" id=\"second\" >\n      </div>\n      <div style=\"width: 0px; height: 80px;\"></div>\n    <div class=\"row\">\n        <div class=\"col-md-6\">\n          <div class=\"input-group input-group-lg\">\n            <span class=\"input-group-addon\" id=\"sizing-addon1\">Size of Catchy String</span>\n            <input type=\"number\" class=\"form-control\" placeholder=\"Enter Size Here...\" aria-describedby=\"sizing-addon1\" id=\"num\" >\n      </div>\n      </div>\n      <div class=\"col-md-6\">\n    <center><button class=\"btn btn-primary btn-lg\" onclick=\"magik()\">Generate A Catchy String</button></center>\n  </div>\n  </div>\n  <div style=\"width: 0px; height: 80px;\"></div>\n  <div class=\"block\">\n    <p id=\"result\">\n      The output will be displayed Here\n    </p>\n  </div>\n  <footer>\n  <center><h3>!!Happy Working!!</h3></center>\n  </footer>\n  </div>\n\t</body>\n</html>","output":"str","x":400,"y":100,"wires":[["9684c190.25d36"]]}]