speech_translator flow.json
[{"id":"c405979c.6b0508","type":"tab","label":"interpreter","disabled":false,"info":""},{"id":"f071b399.fbbee","type":"microphone","z":"c405979c.6b0508","name":"","x":180,"y":100,"wires":[["15046964.27b217"]]},{"id":"15046964.27b217","type":"watson-speech-to-text","z":"c405979c.6b0508","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":240,"y":180,"wires":[["44e60bbd.858674"]]},{"id":"44e60bbd.858674","type":"function","z":"c405979c.6b0508","name":"Prepare for Translating","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["f2538459.0fd1b8"]]},{"id":"f2538459.0fd1b8","type":"watson-translator","z":"c405979c.6b0508","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"he","password":"","apikey":"","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"he","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":320,"y":260,"wires":[["c5ea65d.9dcf898"]]},{"id":"c5ea65d.9dcf898","type":"watson-text-to-speech","z":"c405979c.6b0508","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"de-DE_ErikaV3Voice","format":"audio/wav","password":"","apikey":"","payload-response":false,"service-endpoint":"","x":360,"y":340,"wires":[["c5498c76.c4595"]]},{"id":"c5498c76.c4595","type":"function","z":"c405979c.6b0508","name":"prepare for audio","func":"msg.payload = msg.speech\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["c04c9649.c14fb8"]]},{"id":"c04c9649.c14fb8","type":"play audio","z":"c405979c.6b0508","name":"","voice":"","x":670,"y":340,"wires":[]}]